<div id="home-container">

<br/>
<div id="btnContainer">
  <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
  <button class="btn" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
  	<% if user_signed_in? %>
  		<button class="btn pull-right" onclick="window.location='/article/new'" style="background-color: #181619; color: #a599aa;">Post Article</button>
  	<% end %>
</div>
<br/>
  <% @articles.to_a.each_slice(4).each do |batch_article| %>

    <div class="row">
      <% if batch_article[0].present? %>
        <%= render 'list_item', article: batch_article[0], color: '#aaa' %>
      <% end %>
      <% if batch_article[1].present? %>
        <%= render 'list_item', article: batch_article[1], color: '#bbb' %>
      <% end %>
    </div>

    <div class="row">
      <% if batch_article[2].present? %>
        <%= render 'list_item', article: batch_article[2], color: '#ccc' %>
      <% end %>
      <% if batch_article[3].present? %>
        <%= render 'list_item', article: batch_article[3], color: '#ddd' %>
      <% end %>
    </div>
  <% end %>

</div>